body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background: whitesmoke;
  margin: 20px;
}

header {
  background-color: #233a7f;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

fieldset {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 8px;
}

h1 {
  font-weight: bold;
}

label {
  font-weight: bold;
}

h6 {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #233a7f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0b2572;
}
