* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  background-color: #120f6c;
  color: white;
  padding: 15px;
  text-align: left;
}
.Navbar {
  display: flex;
  background-color: #333;
}
.Navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.Navbar a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}
.Container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.side {
  flex: 30%;
  background: whitesmoke;
  padding: 20px;
}
.main {
  flex: 70%;
  background-color: #aaa;
  padding: 20px;
}
.FakeImg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #120f6c;
  color: white;
}
@media screen and (max-width: 700px) {
  .Container,
  .Navbar {
    flex-direction: column;
  }
}
